
.aboutIntro span{
    line-height: 2;
    font-size: 1.2rem;
}


.aboutContents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4em;
}

.aboutContents h2{
    margin-bottom: 1em;
}

.certificates{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.certificatesLists{
    text-align: start;
}

ul.certificatesLists li{
    text-indent: 5px;
    padding-bottom: 1.2em;
    font-weight: 600;
}

ul.certificatesLists li a{
    text-decoration: none;
    color: var(--light-text-color);
}

ul.certificatesLists li a:hover{
    color: var(--dark-text-color);
}

ul.certificatesLists li p{
    color: #444;
    font-weight: 500;
}

@media only screen and (max-width: 56.25em) {
    .aboutIntro span{
        font-size: 1rem;
    }

    .certificates{
        order: 2;
        margin-top: 3em;
    }
    .aboutContents{
        grid-template-columns: 1fr;
        grid-gap: 0;
        order: revert-layer;
    }
    .linkContents{
        align-items: center;
    }
}