
.hero h1{
    font-size: clamp(3rem, 4vw, 6rem);
    text-transform: uppercase;
}

.hero h2{
    /* font-size: 1.3rem; */
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    font-weight: 400;
    margin: 3rem 0px;
}

.heroContent{
    max-width: 90em;
}

button.ctaBtn{
    background-color: var(--background-color);
    color: var(--dark-text-color);
    letter-spacing: 2px;
    font-size: 1.1rem;
    width: 300px;
    height: 55px;
    margin-bottom: 5em;
}

.scrollContainer{
    max-width: 100em;
    border: 1px solid #eee;
}

.featuredProjects{
    display: flex;
}

.featuredProjectBox{
    width: 280px;
}
