/*** CSS RESET ***/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
    interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
    width: 100%;
}

/*** typography system ***/

h1{
    text-transform: uppercase;
}

/*** Color system ***/
:root{
    --primary-color: #0063b8;
    --background-color: #fefffe;
    --secondary-background-color: #fafbfb;
    --dark-background-color:#050200;
    --light-text-color: #fefffe;
    --dark-text-color: #3c3435;
}

/***general styling***/

button{
    color: var(--light-text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    width: 180px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

button:hover{
    transform: translateY(-3px);
}

.social-links{
    display: flex;
}

.social-icon-link{
    border: 2px solid var(--light-text-color);
}

.social-icon-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.social-icon{
    margin: 1em;
    width: 25px;
    height: 25px;
    color: var(--light-text-color);
}

@media only screen and (max-width: 56.25em) {
    main{
        min-height: 100vh;
    }
}