
.site-wrapper{
    display: flex;
    flex-direction: column;
}

main{
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 90vh;
}
.main-container{
    padding: 5em 0;
    max-width: 78em;
    margin: auto;
    width: 92%;
}

.heading h1{
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--primary-color);
    margin-bottom: 1em;
}

.gradient{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
