header{
    height: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLogoContainer img{
    margin: 5px;
    overflow: hidden;
    max-height: 50px;
    max-width: 50px;
    object-fit:cover;
    object-position: 80% 100%;
    clip-path: circle(50%);
}