header{
    margin-inline: 1.6em;
    padding-block: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: color .3s;
}

a.logoContainer{
    color: var(--dark-text-color);
    text-decoration: none;
}

.logoContainer:hover{
    color: var(--primary-color);
}

.logoImgContainer{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}

.logoImgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}

.logoSub{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.2rem
}

.hamburgerListContainer{
    display: none;
    cursor: pointer;
}

.hamburgerNavLists{
    display: none;
}

.navLists{
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s;

}

.navLists a{
    color: var(--dark-text-color);
    text-decoration: none;
    padding-inline-start: 2.5em;
    font-size: 1.1rem;
}

.headerNav a:hover{
    color: var(--primary-color);
}

@media only screen and (max-width: 56.25em) {
    .logoSub{
        font-size: 1rem;
    }
    .navLists a{
        font-size: 1rem;
    }
}


@media only screen and (max-width: 40.25em) {
    header{
        padding-bottom: 0;
        margin: 0;
    }
    .logoContainer{
        margin-bottom: 1em;
        padding-left: 1em;
    }

    .headerNav{
        display: none;
    }

    .hamburgerListContainer{
        display: block;
        font-size: 2rem;
        padding-right: .5em;
    }

    .hamburgerNavLists{
        width: 100%;
        display: block;
    }

    .navLists{
        margin-top: 1.5em;
        text-align: end;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .navLists a{
        padding: 1em;
        z-index: 3;
        border-top: 1px solid rgb(238, 238, 238);
    }
}